# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Caso Aerotaka.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Usuario\Documents\Santiago (priv.)\Proyectos Estr y Análisis\Caso Aerotaka\.idea\.idea.Caso Aerotaka\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
